

@font-face {
  font-family: 'HK Grotesk';
  src: url('/font/hkgrotesk-bold-webfont.eot');
  src: url('/font/hkgrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('/font/hkgrotesk-bold-webfont.woff2') format('woff2'),
     url('/font/hkgrotesk-bold-webfont.woff') format('woff'),
     url('/font/hkgrotesk-bold-webfont.ttf') format('truetype'),
     url('/font/hkgrotesk-bold-webfont.svg#hk_groteskbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('/font/hkgrotesk-regular-webfont.eot');
  src: url('/font/hkgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('/font/hkgrotesk-regular-webfont.woff2') format('woff2'),
     url('/font/hkgrotesk-regular-webfont.woff') format('woff'),
     url('/font/hkgrotesk-regular-webfont.ttf') format('truetype'),
     url('/font/hkgrotesk-regular-webfont.svg#hk_groteskregular') format('svg');
  font-weight: 400;
  font-style: normal;
}


$color-1: rgba(0, 0, 0, 0.87);
$color-2: #ff4b27;
$color-3: rgba(255, 75, 40, 0.25);
$color-link: #2364AA;

::selection {
  background: $color-3;
}
::-moz-selection {
  background: $color-3;
}

.clearfix:after {
   content: "";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

@-webkit-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@-moz-keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }
@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

html {
  overflow-y: scroll;
}
body {
  font-family: "HK Grotesk", sans-serif;
  font-size: 28px;
  line-height: 1.5;
  background-color: white;
  color: $color-1;
  @media all and (max-width: 800px){
    font-size: 22px;
  }
  opacity: 1;
  -webkit-animation: fadeIn ease 1;
  -moz-animation: fadeIn ease 1;
  animation: fadeIn ease 1;
  -webkit-animation-duration:2s;
  -moz-animation-duration:2s;
  animation-duration:2s;
}

@-webkit-keyframes slideUp { from { -webkit-transform: translateX(0px) translateY(50px); } to { -webkit-transform: translateX(0px) translateY(0px); } }
@-moz-keyframes slideUp { from { -moz-transform: translateX(0px) translateY(50px); } to { -moz-transform: translateX(0px) translateY(0px); } }
@keyframes slideUp { from { -ms-transform: translateX(0px) translateY(50px); transform: translateX(0px) translateY(50px); } to { -ms-transform: translateX(0px) translateY(0px); transform: translateX(0px) translateY(0px); } }

main, footer {
  -webkit-animation: slideUp cubic-bezier(0.000, 0.850, 0.300, 1.000) 1;
  -moz-animation: slideUp cubic-bezier(0.000, 0.850, 0.300, 1.000) 1;
  animation: slideUp cubic-bezier(0.000, 0.850, 0.300, 1.000) 1;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

a {
  text-decoration: none;
  color: $color-link;
}
p {
  margin: 1em 0;
}
em {
  font-style: normal;
  font-weight: 700;
}
img {
  max-width: 100%;
  display: block;
}
a.fa {
  color: rgba(0,0,0,.15);
}
a.fa:hover {
  color: rgba(0,0,0,.15);
}

@-webkit-keyframes moveHeader { from { background-position: bottom right, bottom; } to { background-position: bottom right, top; } }
@-moz-keyframes moveHeader { from { background-position: bottom right, bottom; } to { background-position: bottom right, top; } }
@keyframes moveHeader { from { background-position: bottom right, bottom; } to { background-position: bottom right, top; } }

.header {
  margin: 1em 0;
  display: block;
  width: 100%;
  padding-bottom: 60%;
  background-image: url(/img/overlay_logo.png), url(/img/tilburg.jpg);
  background-size: 20%, cover;
  background-position: bottom right, top;
  -webkit-animation: moveHeader cubic-bezier(0.000, 0.850, 0.300, 1.000) 1;
	-moz-animation: moveHeader cubic-bezier(0.000, 0.850, 0.300, 1.000) 1;
	animation: moveHeader cubic-bezier(0.000, 0.850, 0.300, 1.000) 1;
  -webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
  background-repeat: no-repeat;
}
footer {
  margin-bottom: 35px;
}
.wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}
