

@font-face {
  font-family: 'HK Grotesk';
  src: url('/font/hkgrotesk-bold-webfont.eot');
  src: url('/font/hkgrotesk-bold-webfont.eot?#iefix') format('embedded-opentype'),
     url('/font/hkgrotesk-bold-webfont.woff2') format('woff2'),
     url('/font/hkgrotesk-bold-webfont.woff') format('woff'),
     url('/font/hkgrotesk-bold-webfont.ttf') format('truetype'),
     url('/font/hkgrotesk-bold-webfont.svg#hk_groteskbold') format('svg');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'HK Grotesk';
  src: url('/font/hkgrotesk-regular-webfont.eot');
  src: url('/font/hkgrotesk-regular-webfont.eot?#iefix') format('embedded-opentype'),
     url('/font/hkgrotesk-regular-webfont.woff2') format('woff2'),
     url('/font/hkgrotesk-regular-webfont.woff') format('woff'),
     url('/font/hkgrotesk-regular-webfont.ttf') format('truetype'),
     url('/font/hkgrotesk-regular-webfont.svg#hk_groteskregular') format('svg');
  font-weight: 400;
  font-style: normal;
}

.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px) translate3d(0, 0, 0);
        -ms-transform: translateY(20px) translate3d(0, 0, 0);
            transform: translateY(20px) translate3d(0, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) translate3d(0, 0, 0);
        -ms-transform: translateY(0) translate3d(0, 0, 0);
            transform: translateY(0) translate3d(0, 0, 0);
  }
}
.fade-in-up {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp;
}
@-webkit-keyframes spinning-button {
  0% {
    margin-right: 0;
  }
  100% {
    margin-right: -100px;
  }
}
@keyframes spinning-button {
  0% {
    margin-right: 0;
  }
  20% {
    margin-right: -20px;
  }
  100% {
    margin-right: 0;
  }
}


@mixin transition($val) {
  -webkit-transition: $val;
  -moz-transition: $val;
  -ms-transition: $val;
  -o-transition: $val;
  transition: $val;
}
$color-1: rgba(0, 0, 0, 0.87);
$color-2: rgba(0, 0, 0, 0.04);
$color-3: #fa4343;
$color-4: rgba(255, 0, 0, 0.18);
$color-personal: #fa4343;
$color-school: #FF9505;
$color-professional: #2364AA;

::selection {
  background: $color-4;
}
::-moz-selection {
  background: $color-4;
}

.clearfix:after {
   content: "";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

body {
  font-family: "HK Grotesk", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: rgba(0, 0, 0, 0.05);
  color: $color-1;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  //margin: 2em 0;
}
img {
  max-width: 100%;
  display: block;
}

.gray-plane {
  content: "";
  position: fixed;
  background-color: $color-2;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -10;
}
.wrapper {
  max-width: 1000px;
  margin: 300px auto 0 auto;
  padding: 0 20px;
  z-index: 20;
  @media all and (max-width: 1200px) {
    margin: 190px auto 0 auto;
  }
}

header {
  z-index: 30;
  .title, nav {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    top: 100px;
    margin: 0;
    display: block;
    //@include transition(all .7s ease);
  }
  .title {
    left: 10%;
  }
  h1 {
    font-size: 16px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0;
    span {
      opacity: .5;
    }
  }
  nav {
    right: 10%;
    a {
      display: inline-block;
      opacity: .5;
      @include transition(opacity .1s ease);
      padding: 20px 0;
    }
    a:last-child {
      margin-left: 20px;
    }
    a:hover {
      opacity: 1;
    }
  }
  @media all and (max-width: 1200px) {
    .title, nav {
      top: 50px;
      left: 20px;
      right: 20px;
      text-align: center;
    }
    nav {
      top: 80px;
    }
  }
}


.page {
  img {
    cursor: zoom-in;
  }
  h2 {
    font-size: 16px;
    margin-top: 100px;
    margin-bottom: -30px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .25em;
  }
  h2::before,
  h2::after {
    //content: " — ";
  }
}
.page a,
footer a {
  font-weight: 400;
  position: relative;
  background: -webkit-linear-gradient($color-4, $color-4);
  background: -moz-linear-gradient($color-4, $color-4);
  background: -o-linear-gradient($color-4, $color-4);
  background: -ms-linear-gradient($color-4, $color-4);
  background: linear-gradient($color-4, $color-4);
  -webkit-background-size: 1px 20%;
  -moz-background-size: 1px 20%;
  background-size: 1px 20%;
  background-repeat: repeat-x;
  background-position: 0 87%;
  @include transition(background-size .1s ease);
}

.page > img,
.img-only img {
  box-shadow: 0 0 0 6px $color-2;
  -webkit-box-shadow: 0 0 0 6px $color-2;
  margin: 80px auto;
  overflow: hidden;
  background-color: #cdcccc;
  max-height: 90vh;
}
.page > p {
  margin: 0 30px;
  line-height: 1.4;
}
.col:after {
   content: "";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.col {
  p {
    margin: 0;
    font-size: 16px;
    margin: 20px 0;
    line-height: 1.4;
  }
  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .25em;
    opacity: .5;
    margin: 45px 0 20px 0;
  }
  .large-text {
    p {
      font-size: 28px;
    }
  }
}
.col-wrap {
  //border: 1px solid red;
  margin: 80px 0;
}
.col-wrap.meta {
  margin-bottom: 120px;
}
.col-1-2 {
  //border: 1px solid blue;
  float: left;
  width: 50%;
}
.content {
  //border: 1px solid green;
  padding: 0 40px;
  position: relative;
}
.col::after {
   content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}
.col.right {
  float: right;
}
@media all and (max-width: 570px) {
  .col, .col.right {
    width: 100%;
    float: none;
  }
}

.entries {
  margin-top: 160px;
  button {
    border: 2px solid #ccc;
    background-color: #ccc;
    padding: 16px 22px 14px 22px;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: .25em;
    position: relative;
    overflow: hidden;
    height: 45px;
    width: 193px;
    @include transition(all .1s ease);
    span {
      display: block;
    }
  }
  img {
    @include transition(all .1s ease);
    box-shadow: 0 0 0 3px rgba(255, 0, 0, 0);
    -webkit-box-shadow: 0 0 0 3px rgba(255, 0, 0, 0);
  }
}
.entry {
  //text-align: right;
  @include transition(color .1s ease);
}
.entry:hover {
  color: $color-3;
  img {
    box-shadow: 0 0 0 3px $color-4;
    -webkit-box-shadow: 0 0 0 3px $color-4;
  }
  button {
    border: 2px solid #aaa;
    background-color: #ddd;
    color: $color-1;
    span {
      -webkit-animation: spinning-button 1s infinite;
      animation: spinning-button 1s infinite;
    }
  }
}
@media all and (max-width: 570px) {
  .entries {
    margin-top: 100px;
  }
}

.ribbon {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -moz-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
  -o-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  position: absolute;
  top: -5px;;
  left: 65px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  padding: 8px 4px 10px 20px;
  height: 34px;
  line-height: 1;
  span {
      display: block;
      -moz-transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
  }
}
.Professional::after {
  border: 17px solid $color-professional;
}
.School::after {
  border: 17px solid $color-school;
}
.Personal::after {
  border: 17px solid $color-personal;
}
.ribbon::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  right: -2em;
  border-left-width: 17px;
  border-right-color: transparent;
}
.ribbon.Professional {
  background-color: $color-professional;
}
.ribbon.School {
  background-color: $color-school;
}
.ribbon.Personal {
  background-color: $color-personal;
}

.browser,
.smartphone {
  margin: 80px 0 110px 0;
  box-shadow: 0 18px 50px 0 rgba(0,0,0,.32);
  position: relative;
  overflow: hidden;
}

.browser {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  padding-top: 28px;
  background-color: #cdcccc;
}
.browser::before {
  content: "•••";
  position: absolute;
  top: 0;
  left: 8px;
  letter-spacing: 2px;
  font-size: 40px;
  line-height: .75;
  color: #aaa;
}

.smartphone {
  max-width: 400px;
  margin: 80px auto 110px auto;
  padding: 60px 10px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  border: 4px solid #eee;
  background-color: #e6e6e6;
  img {
    border: 2px solid #666;
    border-radius: 4px;
    -webkit-border-radius: 4px;
  }
}
.smartphone::before {
  content: "";
  background-color: #aaa;
  display: block;
  position: absolute;
  top: 26px;
  left: calc(50% - 30px);
  width: 60px;
  height: 4px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
.smartphone::after {
  content: "";
  background-color: #ddd;
  display: block;
  position: absolute;
  bottom: 8px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  -webkit-border-radius: 20px;
  left: calc(50% - 20px);
  border: 2px solid #eee;
}

#slideshow {
  background-color: #333;
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  img {
    max-height: 95vh;
    max-width: 95vw;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    box-shadow: 0 0 0 6px $color-2;
    -webkit-box-shadow: 0 0 0 6px $color-2;
  }
  .close {
    color: white;
    font-size: 24px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 18px 20px 15px 20px;
    display: block;
    background-color: rgba(0,0,0,.2);
    z-index: 9999;
  }
}
.bx-viewport {
  height: 100vh !important;
  li {
    height: 100vh
  }
}
.page.hidden {
  visibility: hidden;
}

.timeline {
  font-size: 16px;
  list-style: none;
  border-left: 2px solid #1E1E1E;
  padding-left: 25px;
  margin: 20px 0 20px 50%;
  li {
    position: relative;
    padding: 20px 0;
  }
  p {
    font-size: 18px;
  }
  span {
    position: absolute;
    width: 180px;
    left: -235px;
    top: 42px;
    text-align: right;
  }
  span::after {
    color: #1E1E1E;
    content: "•";
    font-size: 55px;
    position: absolute;
    top: -18px;
    right: -39.5px;
  }
}
input,
textarea {
  width: 100%;
  max-width: 100%;
  border: 2px solid $color-1;
  padding: 10px;
  margin-bottom: 20px;
  line-height: 1.4;
  background-color: $color-2;
  @include transition(background-color .1s ease);
}
input:focus,
textarea:focus {
  background-color: transparent;
}
button.send-button {
  background-color: $color-1;
  border: 2px solid $color-1;
  line-height: 1;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  display: block;
  padding-top: 10px;
  margin: 0 auto;
  color: white;
  cursor: pointer;
  @include transition(all .1s ease);
}
button.send-button:hover {
  background-color: transparent;
  color: $color-1
}

footer {
  text-align: center;
  font-size: 16px;
  margin: 120px 0 80px 0;
  a.fa {
    color: inherit;
    opacity: .5;
    font-size: 18px;
    margin-top: 20px;
    padding: 5px 5px 5px;
    @include transition(all .1s ease);
  }
  a.fa:hover {
    opacity: 1;
  }
}
video {
  margin: 0;
  width: 100%;
  display: block;
}
