---
layout: default
---

<div class="col-wrap col meta">
  <div class="col-1-2 col">
    <div class="content">
      <h2>Projectnaam</h2>
      <p>{{ page.title }}</p>
    </div>
    <div class="content">
      <h2>Type</h2>
      <p>{{ page.what }}</p>
    </div>
  </div>
  <div class="col-1-2 col">
    <div class="content large-text">
      <h2>Beschrijving</h2>
      <p>{{ page.description }}</p>
    </div>
  </div>
</div>
<div class="page">
{{ content }}
</div>
<script>

$( window ).load(function() {
  img_index = 0;
  $('.page img').each(function(){
    $(this).attr('id', img_index);
    img_index++;
    $('.bxslider').append('<li><img src="' + $(this).attr('src') + '"></li>');
  });
  slider = $('.bxslider').bxSlider({
    mode: 'fade',
    speed: 0
  });
  $('.page img').click(function (){
    $('#slideshow').show();
    $('.page').addClass('hidden');
    index = $(this).attr('id');
    slider.reloadSlider();
    slider.goToSlide(index);
  });
  $('#slideshow .close').click(function (){
    $('#slideshow').hide();
    $('.page').removeClass('hidden');
  });
});
</script>
